.utility-center {
    text-align: center;
}

.error {
    color: red;
    font-size: 3rem;
    padding-top: 1rem;
    margin-left: 2rem;

    @include respond (phone) {
        font-size: 2rem;
    }
}

.pac-item {
    @include respond (phone) {
        font-size: 1rem;
    }
}

.pac-item-query {
    @include respond (phone) {
        font-size: 1rem;
    }
}

.map {
    height: 75rem;
}

.react-switch {
    /*display: inline-block;
    float: right;
    margin-right: 20rem;
    margin-top: 2rem;
    height: 5rem;
    @include respond (phone) {
        float: right;
    }*/
    transform: scale(1.5);
    top: -1rem;
    left: 3rem;
    /*float: right;*/
}

.always-visible {
    z-index: 10000;
    position: relative;
}

.ui.tiny.image {
    width: 14rem;
    height: 10rem;
}

.list-show.item:last-of-type {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.list .list > .item:last-child, .ui.list > .item:last-child, ol.ui.list li:last-child, ul.ui.list li:last-child {
    padding-bottom: .42857143em;
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.red.message {
    width: 55rem;
}

main {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.description h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui.list .list > .item .header, .ui.list > .item .header {
    display: inline-block;
}