.info-window {
    height: 10rem;
    width: 20rem;
}

.side-panel {
    /*position: absolute;*/
    width: 30rem;
    background-color: white;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
    /*display: none;*/
    float: left;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    top: 3rem;
    left: 4rem;
    height:90%;
    & ul {
        margin-top: 0px;
        padding: 0px;
        color: black;
        list-style-type: none;
        text-align: left;
    }

    & li {
        padding: 30px 0 20px 20px;
        font-size: 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,1);
        opacity: 0;
    }

    &__show {
        transform: none;
    }
}

.list-show {
    opacity: 1 !important;
}

.item {
    opacity: 0;
}

.content {
    font-size: 0.6vw;
}
.menu-button {
    position:absolute;
    height: 25px;
    width: 25px;
    float: left;
    transform: translateX(-30rem);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
    top:3rem;
    left:34rem;
    &__clicked {
        transform: none;
    }
}

.menu {
    position: absolute;
    height:100%;
}
/*.side-panel {

}*/

.slide-button {
    background-color: white;
    border: none;
    height: 5rem;
    width: 3rem;
    outline: none;
    border: none;
}

/*button:active {
    outline: none;
    border: none;
}*/