.utility-center {
    text-align: center;
}

.error {
    color: red;
    font-size: 3rem;   
    padding-top: 1rem;
    margin-left: 2rem;

    @include respond (phone) {
        font-size: 2rem;
    }
}