/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape'
[1200 - 1800px] normal styles - desktop
1800px +: big desktop
*/
/*
    $breakpoint arguement choices:
    -phone
    -tablet-portrait
    -tablet-landscape
    -big-desktop

    1em = 16px
*/
.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 3 * 6rem) / 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc((100% - 3 * 6rem) / 4 * 3 + 6rem * 2); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }

.ui.grid.column {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem, 0); }
  80% {
    transform: translate(1rem, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem, 0); }
  80% {
    transform: translate(-1rem, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out;
    padding-bottom: 3rem;
    /*border-bottom: 1px solid $color-white;*/
    box-shadow: 0px 2.7rem 2px -2.6rem #fff;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 2rem; } }

.utility-center {
  text-align: center; }

.error {
  color: red;
  font-size: 3rem;
  padding-top: 1rem;
  margin-left: 2rem; }
  @media (max-width: 37.5em) {
    .error {
      font-size: 2rem; } }

@media (max-width: 37.5em) {
  .pac-item {
    font-size: 1rem; } }

@media (max-width: 37.5em) {
  .pac-item-query {
    font-size: 1rem; } }

.map {
  height: 75rem; }

.react-switch {
  /*display: inline-block;
    float: right;
    margin-right: 20rem;
    margin-top: 2rem;
    height: 5rem;
    @include respond (phone) {
        float: right;
    }*/
  transform: scale(1.5);
  top: -1rem;
  left: 3rem;
  /*float: right;*/ }

.always-visible {
  z-index: 10000;
  position: relative; }

.section-display {
  background: linear-gradient(to right, rgba(157, 227, 200, 0.5), rgba(106, 176, 149, 0.5)), url("https://media.wired.com/photos/5926b773f3e2356fd800a373/master/w_2130,c_limit/WarOnParking_TA_GettyImages-83314262.png"), top right no-repeat;
  /*background-image: url("https://media.wired.com/photos/5926b773f3e2356fd800a373/master/w_2130,c_limit/WarOnParking_TA_GettyImages-83314262.png");*/
  /*height: 95vh;*/
  background-size: cover;
  /*background-position: center;*/
  /*background-position: top;*/
  background-blend-mode: screen;
  background-attachment: fixed;
  /*overflow: hidden;*/
  /*background-repeat: repeat-x;*/
  margin-bottom: 4rem; }
  .section-display__text {
    margin-left: 3rem;
    font-size: 4rem;
    color: white; }

/*.loading {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-image: linear-gradient( to right, rgba($color-primary-light, 0.50), rgba($color-primary-dark, 0.50));
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    transition: background-image .5s linear;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}*/
.ui.dimmer {
  background-image: linear-gradient(to right, rgba(157, 227, 200, 0.5), rgba(106, 176, 149, 0.5));
  z-index: 1000;
  background-color: white; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #85dcba;
  color: #fff; }
  .btn--green::after {
    background-color: #85dcba; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInUp .5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn__location {
  /*position: absolute;*/
  top: 10rem; }

.btn__directions {
  margin-top: 3rem;
  margin-bottom: 4rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  overflow: hidden;
  /*-webkit-transition: box-shadow 1s ease-in-out 1s;
    transition: box-shadow 1s ease-in-out 1s;*/ }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    font-size: 2rem;
    /*color: #fff;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #9de3c8, #6ab095); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    border-radius: unset; }
  .card:hover .card__side--back {
    transform: rotateY(0);
    border-radius: unset; }
  .card:not(:hover) {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__picture {
    /*background-size: cover;*/
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture > img {
      /*max-width: 100%;
            height: 100%;*/
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: 0.5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(157, 227, 200, 0.85), rgba(106, 176, 149, 0.85)); }
  .card__details {
    padding: 3rem;
    text-align: center; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card__details--parkings {
      font-size: 5rem;
      text-align: center; }
    .card__details--distance {
      font-size: 4rem;
      text-align: center;
      margin-top: -0.5rem;
      margin-bottom: -1rem;
      /*margin-left: -2rem;*/ }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.search-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 40rem;
  padding: 1rem;
  width: 40%;
  display: block; }
  @media (max-width: 56.25em) {
    .search-box {
      padding: 0;
      width: 50%; } }
  @media (max-width: 37.5em) {
    .search-box {
      padding: 0;
      width: 70%; } }

/*.search-box:hover > .search-txt {
        width: 80%;
        padding: 0 6px;
    }*/
.search-box:hover > .search-btn {
  background: #85dcba;
  color: #fff; }

.search-btn {
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #85dcba;
  cursor: pointer;
  text-decoration: none;
  border: none; }
  @media (max-width: 56.25em) {
    .search-btn {
      width: 5rem;
      height: 5rem; } }

.search-btn > i {
  font-size: 3rem; }

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #777;
  font-size: 1.6rem;
  transition: 0.4s;
  line-height: 4rem;
  width: 88%;
  font-weight: 400;
  padding-left: 5px; }
  @media (max-width: 56.25em) {
    .search-txt {
      width: 80%;
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  @media (max-width: 75em) {
    .search-txt {
      width: 80%; } }

.text {
  padding-bottom: 20px; }

.prec {
  top: 2.5rem;
  position: relative;
  font-size: 30px; }

.circle {
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #E6F4F7; }

.active-border {
  margin: 0 auto;
  margin-top: -3rem;
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #39B4CC;
  background-image: linear-gradient(162deg, transparent 50%, #A2ECFB 50%), linear-gradient(90deg, #A2ECFB 50%, transparent 50%); }

/*.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;
        width: 75%;
        height:50%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid $color-grey-light-2;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
    height: 40rem; }

.info-window {
  height: 10rem;
  width: 20rem; }

.side-panel {
  /*position: absolute;*/
  width: 20rem;
  background-color: white;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  transition: transform 1s;
  /*display: none;*/
  float: left;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%); }
  .side-panel ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left; }
  .side-panel li {
    padding: 30px 0 20px 20px;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    opacity: 0; }
  .side-panel__show {
    transform: none; }

.list-show {
  opacity: 1 !important; }

.item {
  opacity: 0; }

.content {
  font-size: 0.6vw; }

.menu-button {
  height: 25px;
  width: 25px;
  float: left;
  /*transform: translateX(-5%);*/
  /*&__clicked {
        transform: ta
    }*/ }

.menu {
  position: absolute;
  top: 3rem;
  left: 4rem; }

/*.side-panel {

}*/
.home-header {
  height: 90vh;
  background-image: linear-gradient(to right, rgba(157, 227, 200, 0.5), rgba(106, 176, 149, 0.5)), url(https://img.newatlas.com/autonomous-car-parking-2.jpg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fit=crop&h=540&q=40&rect=0%2C0%2C1610%2C905&w=960&s=d6b4e08e6355022b3e9557140011e749);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .home-header {
      height: 97vh;
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .home-header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 5rem;
    color: white; }
  .home-header__logo {
    height: 3.5rem; }
  .home-header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; }
    @media (max-width: 37.5em) {
      .home-header__text-box {
        top: 47%; } }
