$color-primary-light: #9de3c8;
$color-primary: #85dcba;
$color-primary-dark: #6ab095;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000000;
$color-grey-light-1: #f7f7f7;
$gutter-horizontal: 6rem;
